@page "/Replace"

@inject Services.PythonProcess Python

<div>
    <div>
        <label for="File Path">File Path</label>
        <input class="form-control" type="text" placeholder="File Path" @bind-value="_path" />
        <br />
    </div>

    <div>
        <label for="File Path">Old Bytes</label>
        <input class="form-control" type="text" placeholder="Old Bytes" @bind-value="_oldBytes" />
        <br />
    </div>

    <div>
        <label for="File Path">New Bytes</label>
        <input class="form-control" type="text" placeholder="New Bytes" @bind-value="_newBytes" />
        <br />
    </div>
</div>

<div>
    <p>
        <button class="btn btn-primary" @onclick="OnClickReplace" disabled="@_disableButton">
            Replace
        </button>
    </p>
</div>

@code {
    string _path = "";
    string _oldBytes = "ABC";
    string _newBytes = "CBA";
    bool _disableButton = false;

    void OnClickReplace()
    {
        _disableButton = true;
        Python.FileReplaceAsync(_path, _oldBytes, _newBytes).ContinueWith(OnFileReplaceFinish);
    }

    void OnFileReplaceFinish(Task task)
    {
        InvokeAsync(() =>
        {
            _disableButton = false;
            (_newBytes, _oldBytes) = (_oldBytes, _newBytes);
            StateHasChanged();
        });
    }

    protected override async Task OnInitializedAsync()
    {
        _path = Python.ProjectPath + @"\TestFile";
    }
}